/src/logs/*
/bags/*
/src/plugins_copy/*/Intermediate/
/src/plugins_copy/*/Binaries/
/src/plugins_link/*/Intermediate/
/src/plugins_link/*/Binaries/
/src/ros2/
/tmp/
/src/setup/unreal/password.txt
/src/setup/unreal/username.txt
/run.sh